@font-face {
    font-family: 'Poppins';
    src: url('../Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.section {
    position: relative;
    width: 100%;
    height: 700px;
    /* display: block; */
}

body {
    height: 100vh;
    min-height: 550px;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #0067AD;
}

.login-reg-panel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 400px;
    background-color: #0067AD;
}

.white-panel {
    background-color: rgba(255, 255, 255, 1);
    height: 620px;
    position: absolute;
    top: -100px;
    width: 50%;
    right: calc(50% - 50px);
    transition: .3s ease-in-out;
    z-index: 0;
    box-shadow: 0 0 15px 9px #00000096;
}

.login-reg-panel input[type="radio"] {
    position: relative;
    display: none;
}

.login-reg-panel {
    color: #ffffff;
}

.login-reg-panel #label-login,
.login-reg-panel #label-register {
    border: 1px solid #ffffff;
    padding: 5px 5px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}

.login-info-box {
    width: 30%;
    padding: 0 50px;
    top: 20%;
    left: 0;
    position: absolute;
    text-align: left;
}

.register-info-box {
    width: 30%;
    padding: 0 50px;
    top: 20%;
    right: 0;
    position: absolute;
    text-align: left;

}

.right-log {
    right: 50px !important;
}

.login-show,
.register-show {
    z-index: 1;
    display: none;
    opacity: 0;
    transition: 0.3s ease-in-out;
    color: #242424;
    text-align: left;
    padding: 50px;
}

.show-log-panel {
    display: block;
    opacity: 0.9;
}

.login-show input[type="text"],
.login-show input[type="password"] {
    width: 100%;
    display: block;
    margin: 20px 0;
    padding: 8px;
    border: 1px solid #b5b5b5;
    outline: none;
}

.login-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #0067AD;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float: right;
    cursor: pointer;
}

.login-show a {
    display: inline-block;
    padding: 10px 0;
}

.show-log-panel p {
    font-size: 12px;
    text-align: center;
    margin-top: 50px;
    line-height: none !important;
}

.register-show input[type="text"],
.register-show input[type="password"] {
    width: 100%;
    display: block;
    margin: 7px 0;
    padding: 8px;
    border: 1px solid #b5b5b5;
    outline: none;
}

.register-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #0067AD;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float: right;
    cursor: pointer;
}

.credit {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}

/* for small screen sizes */
.login-reg-panel-mini {
    text-align: center;
    width: 100%;
    margin-top: 40px; /* Add margin to separate from white panel */
    background-color: #0067AD;
    padding: 30px;
    display: none;
}
login-info-box-mini {
    width: 30%;
    text-align: center;
}

register-info-box-mini {
    width: 30%;
    text-align: center;
    margin-top: 10px;
}
 /* Style for the preference buttons */
 .preference-button {
    width: 100%;
    height: 130px;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

/* Style for the selected button */
.preference-button.selected {
    background-color: #0074D9;
    border-color: #0074D9;
    color: #ffffff;
}

.preference-button i {
    margin-bottom: 5px;
}

/* Define custom border and text colors for each button */
.btn-swim {
    border-color: #0019f7;
    color: #0019f7;
}

.btn-nature {
    border-color: #47d40f;
    color: #47d40f;
}

.btn-churches {
    border-color: #d66000;
    color: #d66000;
}

.btn-events {
    border-color: #8d0092;
    color: #8d0092;
}

.btn-hotel {
    border-color: #00694f;
    color: #00694f;
}

.btn-tourist-spots {
    border-color: #b3b600;
    color: #b3b600;
}




@media (max-width: 970px) {
    /* Adjustments for small screens */
    .section{
        height: 1000px;
    }
    .login-reg-panel {
        width: 90%;
        top: 30%;
        left: 50%;

    }

    .white-panel {
        width: 90%;
        top: 0;
        right: 5%;
    }

    .login-info-box,
    .register-info-box {
        width: 80%;
        padding: 0 20px;
        top: 40%;
        left: 50%;

    }

    .login-show,
    .register-show {
        padding: 20px;
        top: 40%;
        left: 50%;

    }
    .login-reg-panel{
        background: none;
    }
    
    .register-info-box, .login-info-box {
        display: none;
    }

    .login-reg-panel-mini {
        display: block;
    }
}

@media (max-width: 444px){
    .section{
        height: 1200px;
    }
    .white-panel{
        height: 700px;
    }
    .login-reg-panel #label-login,
    .login-reg-panel #label-register {
    border: 1px solid #ffffff;
    padding: 5px 5px;
    width: 125px;
    font-size: 13px;
    }
    .register-info-box, .login-info-box {
        display: none;
    }

    .login-reg-panel-mini {
        display: block;
    }
}
@media (max-width: 330px){
    .section{
        height: 1500px;
    }
    .register-info-box, .login-info-box {
        display: none;
    }

    .login-reg-panel-mini {
        display: block;
    }
}