* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(22, 22, 22);
}

.row{
  width: 100%;
}

.column {
  width: 100%; 
  margin: 0; 
}

.card {
  width: 100%;
  height: auto;
  padding: 2em 1.5em;
  background-size: 100% 200%;
  background-position: 0 2.5%;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  align-items: center;
  text-align: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: brightness(0.5); 
  z-index: -1;
  transition: filter 0.5s; 
}

.card:hover .background-image {
  filter: brightness(0.8); 
}

.card-content {
  position: relative;
  z-index: 1;
}

h3 {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  margin: 1em 0;
  align-items: center;
}

.card:hover {
  background-position: 0 100%;
}

.card:hover h3 {
  color: #ffffff;
}

@media screen and (min-width: 668px) {
  h3 {
    font-size: 60px;
  }
}


.content{
  margin-top: 70px;
  place-items: start;
  text-align: start;
}


.services-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.services {
  display: flex;
  justify-content: center; 
}

a {
  text-decoration: none; 
}

